#friends-display-link {
  text-align: center;
  display: block;
  width: 100%;
  background-color: #fafafa;
  padding: 11px 0px;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: -15px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top: 15px;
}

.friends-screen__channel-header {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}
.friends-screen__birthday {
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top: 15px;
}
.friends-screen__birthday-title {
  color: rgba(0, 0, 0, 0.5);
}
.friends-screen__birthday .fa-star {
  color: gold;
  margin-bottom: 25px;
  margin-left: 15px;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.splash-screen {
  background-color: var(--yellow);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 120px;
  animation: hideSplashScreen 0.4s ease-in-out forwards;
  animation-delay: 2s;
  /* position: relative; */
}

.splash-screen span {
  font-size: 25px;
}
